[[source]]
url = "https://pypi.nodis.com.br/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
jsonpatch = "*"
kubernetes = "*"

[dev-packages]
pytest-flask = "*"
pytest-cov = "*"
